{% extends "base/base.html" %}
{% load static %}
{% block content %}

    {# {% comment %}this is imports the style sheets{% endcomment %}#}
    <link href="{% static "css/main/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main/main.css" %}">
    <script defer src={% static "js/app/app.js" %}></script>.
   {#This is the top navigation bar#}
<nav class="position-absolute navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid scroller">
      {#Header for the nav bar#}
    <a class="navbar-brand" href="{% url 'home' %}" id="coloredbrand">Paperlink</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
            {#dashboard button#}
        <li class="nav-item">
          <a class="nav-link" href={% url 'dashboard' %}>Dashboard</a>
        </li>
            {#info button#}
          <li class="nav-item">
              <a class="nav-link" href={% url 'info' %}>Info</a>
          </li>
          {#home button#}
          <li class="nav-item">
              <a class="nav-link" href={% url 'home' %}>Home</a>
          </li>

      </ul>

    </div>
  </div>
</nav>


{# THIS IS WHERE THE LOGIN STARTS#}
<body>
<div class="login-box">
    <h2>Login</h2>
    <form action="submit">
        <div class="user-box">
            <input type="text" required>
            <label for="">Username</label>
        </div>

        <div class="user-box">
            <input type="password" required>
            <label for="">Password</label>
        </div>

        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>
</div>
</body>


{% endblock %}