
.editor_container {
    width: 800px;

    margin:auto;
}


#editor{
    width: 100%;
    z-index: -3;

    margin: 0 auto 5px;


    padding: 0.5in;
    scale: 1.5;


    font-size: 0;
    line-height: 1.2;

    height: auto

}
#editor:focus{
    outline: none;
}


.delta{
    display: inline-block;
}
