html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.toolbar{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,40px));
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    grid-gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items:center;
}

.tool-items{
    background-color: rgb(27, 26, 26);
     padding-top: .6rem;
     padding-bottom:.6rem;
    cursor: pointer;
    color: #ffff;
}




.editor_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: scale(1);
    transform-origin: top center;
}


#editor{
    width: 80vh; /* Width of 8.5 inches */
    max-width: 8.5in;
    height: 100vh;
    max-height: 11in;
    margin: 0 auto 5px;
    border: 0.25px solid black; /* Border around the paper */
    padding: 0.5in; /* DOCUMENT MARGINS ARE ADJUSTABLE HERE */
    box-sizing: border-box;

    display: inline;
}

.delta{
    display: inline;
}
