
.editor_container {
    width: 100%;

    margin:auto;
    overflow: hidden;
}


#editor{
    width: 90%;
    max-width: 800px;
    min-width: 300px;
    aspect-ratio: 1/1.294;
    overflow: hidden;

    margin: 0 auto 5px;


    padding: 0;




    font-size: 0;
    line-height: 1.2;

    height: auto

}
#editor:focus{
    outline: none;
}


.delta{
    display: inline-block;
}
