{% extends "base/base.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static "css/editor/document_viewer.css" %}"/>
    <script src="{% static "js/editor/document_viewer.js" %}"></script>

    <div id="document-viewer">
        <nav class="position-fixed p-1" id="toolbar">
            <div class="d-flex justify-content-between"> <!-- Center the entire container -->
                <h5 class="my-auto text-white d-flex align-items-center top-nav-item">
                    <i class="bi bi-file-earmark-text text-accent big-icon"></i>
                    <span style="">{{ document.name }}</span>
                </h5>
                <div class="d-inline-flex"> <!-- Center "Paperlink" container -->
                    <a href="{% url "home" %}" class="nav-link mx-0 d-flex align-items-center top-nav-item">
                        <h5 class="my-auto text-accent align-content-center">
                            Paperlink
                        </h5>
                    </a>
                </div>
                <div class="d-inline-flex top-nav-item">
                    <a href="{% url "dashboard" %}" class="nav-link mx-0">
                        <i class="bi bi-house-fill big-icon text-white"></i>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center text-white">
                <div class="border-end border-1 border-light d-flex">
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </button>
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>
                <div class="border-end border-1 border-light d-flex">
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        -
                    </button>
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        12
                    </button>
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        +
                    </button>
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-type-bold"></i>
                    </button>
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-type-italic"></i>
                    </button>
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-type-underline"></i>
                    </button>
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-highlighter"></i>
                    </button>
                </div>
                <div class="border-end border-1 border-light d-flex">
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-image"></i>
                    </button>
                </div>

                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-justify-left"></i>
                    </button>

                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-justify"></i>
                    </button>
                    <button class="btn btn-icon btn-toolbar" id="btn-pen">
                        <i class="bi bi-justify-right"></i>
                    </button>
                    <button class="btn btn-outline-accent " id="btn-pen">
                        <i class="bi bi-signpost-split "></i> Branch Here
                    </button>




            </div>
        </nav>
        <div id="viewer">
            {% include "editor/editor.html" %}
        </div>
    </div>
{% endblock %}