
{% load static %}

<input type="hidden" id="doc-id" value="{{ document.id }}"/>
<div id="page" style="background-color:rgb(40,40,40);">
    <div class="editor_container ">
        <div id="editor"  contenteditable="true">

        </div>
    </div>
</div>


<script src="{% static 'js/editor/editor.js' %}"></script>
<script src="{% static 'js/editor/delta_generator.js' %}"></script>
<script src="{% static 'js/editor/delta_consumer.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/editor.css' %}">

