<style>
#editor-container2 {
    width: 70%;

    margin:auto;
}


#editor2{
        width: 100%;
        z-index: -3;

        margin: 0 auto 5px;

        display: flex;
        flex-wrap: wrap;
        text-wrap: normal;
        white-space: normal;
        font-size: 0;
        line-height: 1.2;

        height: auto;

    }
</style>
<div style="height:100%;width:100%;" class="p-3">
    <label for="slider">Versions</label>
    <input type="range" id="slider" name="slider" min="0" max="100" value="0" style="width:100%;">

    <p>Selected Version: <span id="sliderValue">50</span></p>

    <div id="version-viewer">
        <div id="editor-container2">
            <div id="editor2" >

            </div>
        </div>
    </div>

</div>
<script>
    let deltas = [];
    const slider = document.getElementById("slider");
    const sliderValue = document.getElementById("sliderValue");

    // Update the selected value when the slider is changed
    slider.addEventListener("input", function() {
        sliderValue.textContent = slider.value;
        $("#editor2").empty();
        let sub_deltas3 = deltas.slice(0, slider.value);
        for (let i = 0; i < sub_deltas3.length; i++) {
            let delta2 = sub_deltas3[i];
            consume_over(delta2, "editor2");
        }
    });

    function load_documents(id){
        $("#editor").empty();

        fetch(`/api/get_document?doc_id=${id}`, {
            method: 'GET',
        }).then((response) => {
            return response.json();
        }).then((data) => {
            for(let i = 0; i < data.deltas.length; i++) {
                deltas.push(data.deltas[i]);

            }
            slider.max = deltas.length - 1;
        });


    }


    $(document).ready(function(){
        load_documents("{{ document.id }}");
    });


</script>